body {
  margin: 0;
  padding: 0;
}


body * {
  outline: none !important;
}

[data-link] {
  cursor: pointer;
}
.btn > .fa {
  margin: 0 0.5rem 0 0;
}

.cursor-pointer {
  cursor: pointer;
}

.overflow--hidden {
  overflow: hidden;
}

.overflow--scroll {
  overflow: scroll;
}

.block {
  display: block;
}

// flex
.flex {
  display: flex;
  box-sizing: content-box;
}

.flex-row {
  .flex;
  flex-direction: row;
}

.flex--vertical-center {
  align-items: center;
}

.flex-column {
  .flex;
  flex-direction: column;
}

.flex--center {
  justify-content: center;
}

.flex--space-between {
  justify-content: space-between;
}

.flex--space-around {
  justify-content: space-around;
}

.flex--content-to-end {
  align-items: flex-end;
}

.flex--transition {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.flex--wrap {
  flex-wrap: wrap;
}

.width-1-3 {
  width: 33.33%;
}

// margins
.margin-auto {
  margin: 0 auto;
}
.margin-horizontal--big {
  margin: 0 2rem;
}

.margin-horizontal--medium {
  margin: 0 1rem;
}

.margin-horizontal--small {
  margin: 0 0.5rem;
}

.margin-vertical--big {
  margin: 2rem 0;
}
.margin-vertical--small {
  margin: 0.5rem 0;
}

.inverted-margin-left-big {
  margin-left: -2rem;
}

.padding--zero {
  padding : 0 !important;
}
.padding-vertical--small {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.padding-vertical--big {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.padding-vertical--medium {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.padding-horizontal--medium {
  padding-left: 1rem;
  padding-right: 1rem;
}

.padding-horizontal--small {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.padding-horizontal--big {
  padding-right: 2rem;
  padding-left: 2rem;
}

.no-padding--right {
  padding-right: 0;
}

.no-padding--bottom {
  padding-bottom: 0;
}
.no-margin--bottom {
  margin-bottom: 0;
}

.no-margin--top {
  margin-top: 0;
}

.no-margin--left {
  margin-left: 0;
}

.animation {
  transition: all 1s;
}

.animation--rotate {
  transform: rotateY(360deg);
}

.ui-width--max {
  width: 100%;
}

.col--primary {
  min-width: 500px;
}