@import "colors";
@import "base";

.editor__edit-item {
  &:hover {
    color: @hover-blue;
  }
}

.form-group {
  &:hover .editor__edit-item {
    display: inline;
  }

  .display--none {
    display: none;
  }
}