<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Screen4fans admin</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/css/bootstrap-datepicker3.min.css" rel="stylesheet">
    <link href="/admin/css/theme.css" rel="stylesheet">
    <link href="/admin/css/base.css" rel="stylesheet">
    <link href="/admin/css/components.css" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="/admin/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/admin/css/sb-admin.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/admin/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="root"></div>
<script src="/admin/js/jquery.js"></script>
<script src="/admin/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment-with-locales.min.js"></script>
<script src="/admin/js/jspm_packages/system.js"></script>
<script src="/admin/js/config.js"></script>
<script>
    moment.locale(navigator ? navigator.language : 'en');
    var bigscreenConfig = <%- JSON.stringify(config) %>
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
<script>
    System.import('lib/index');
</script>
</body>
</html>